# Environment variables declared in this file are automatically made available to Prisma and Next.js.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# MySQL Database connection string for WampServer / XAMPP / Production
DATABASE_URL="mysql://root:@localhost:3306/ishop_huyhoang"
